/* --------------------- */
/* -= Global Elements =- */
/* --------------------- */

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.parent-container {
  color: white;
  
  // Configure grid
  gap: 2px;
  display: grid;
  margin: 0 auto 0 auto;
  max-width: 900px;
}

/* Text Selection */

::selection {
  background: red;
  color: white;
}

/* -------------- */
/* -= Contents =- */
/* -------------- */

.icon {
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 15px 0 15px;
  width: 60px;
  transition: 0.3s;
}

.icon:hover {
  box-shadow: 0 0 10px 1px red;
}

.title-container {
  grid-column-start: 1;
  grid-column-end: 3;

  align-items: center;
  border: 5px solid aqua;
  display: flex;
  justify-content: center;
}

.content-navi-top {
  grid-column-start: 1;
  grid-column-end: 3;

  display: none;
  flex-direction: row;
  justify-content: center;
  border: 5px solid limegreen;
}

.content-navi-side {
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  border: 5px solid limegreen;
}

.content-navi-item {
  border: 2px solid red;
  padding: 10px 20px 10px 20px;
  display: block;
}

.content-container {
  grid-column-start: 2;
  grid-column-end: 3;
  
  border: 5px solid aqua;
  display: flex;
  flex-direction: column;
}

.content-body-container {
  border: 5px solid limegreen;
}

h2 {
  font-size: 1.75rem;
  font-weight: normal;
  border: 5px solid blue;
}

.content-body {
  border: 5px solid blue;
  font-size: 1.125rem;
}

// Mobile View
@media screen and (max-width: 767px) {
  .content-navi-side {
    display: none;
  }
  .content-navi-top{
    display: flex;
  }
  .content-container {
    grid-column-start: 1;
  }
}