/* --------------------- */
/* -= Global Elements =- */
/* --------------------- */

body {
  background-color: black;
}

.main-container {
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: 0 auto 0 auto;
}

/* Text Selection */

::selection {
  background: red;
  color: white;
}

/* -------------- */
/* -= Contents =- */
/* -------------- */

.icon {
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 15px 0 15px;
  width: 60px;
  transition: 0.3s;
}

.icon:hover {
  box-shadow: 0 0 10px 1px red;
}

.content-title {
  align-items: center;
  border: 5px solid blue;
  display: flex;
  justify-content: center;
}

.content-header {
  text-align: center;
}

h2 {
  font-size: 1.75rem;
  font-weight: normal;
  border: 5px solid blue;
}

.content-body {
  border: 5px solid blue;
  font-size: 1.125rem;
}